NEXT_PUBLIC_APP_NAME=Executive Commerce Insight Agent
NEXT_PUBLIC_API_AGENT_BASE_URL=http://localhost:8001

NEXT_PUBLIC_ENABLE_LOGS=true

DASHBOARD_INTERACTION_SECRET=change-me

PROMPT_TEXT_CHARS_LIMIT=300

DASHBOARD_HEADER_TEXT=Executive Commerce Insights Dashboard
DASHBOARD_SUBHEADER_TEXT=AI Powered Commerce Intelligence

ENABLE_LOG=true
